html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }

header {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  background-color: #AE9361; }
  header #nav {
    padding: 1.4em 2em; }
    header #nav #mobile {
      float: right;
      cursor: pointer;
      margin: 2.3em .5em;
      color: #fff;
      display: none; }
    header #nav .btn {
      margin: .5em;
      cursor: pointer;
      position: relative;
      display: inline-block; }
      header #nav .btn h1 {
        padding: .6em 2em;
        text-align: center;
        float: left; }
        header #nav .btn h1 a {
          display: block;
          text-align: center;
          color: #fff;
          text-decoration: none;
          font-size: 2em;
          font-weight: 300;
          letter-spacing: 3px; }
          header #nav .btn h1 a span {
            font-weight: 800;
            font-size: 1.6em; }
      header #nav .btn .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        outline: #fff solid 2px;
        opacity: 0.2;
        -webkit-animation: pulse 3s infinite alternate;
        animation: pulse 3s infinite alternate; }
    header #nav section {
      float: right;
      margin: 2.3em .5em; }
      header #nav section ul {
        overflow: hidden; }
        header #nav section ul li {
          float: left;
          display: inline-block; }
          header #nav section ul li a {
            color: #fff;
            text-decoration: none;
            padding: .9em 1.3em;
            display: block;
            font-size: 1.4em; }
            header #nav section ul li a:hover {
              border-bottom: 5px double #fff;
              -webkit-transition: border 0.3s ease;
              -moz-transition: border 0.3s ease;
              -ms-transition: border 0.3s ease;
              transition: border 0.3s ease; }
            header #nav section ul li a:active {
              background: #fff;
              color: #AE9361; }
  header #slogan {
    max-width: 1200px;
    padding: 8em 0 0 0;
    margin: 0 auto;
    text-align: center; }
    header #slogan i {
      color: #fff;
      margin-bottom: .3em; }
    header #slogan #headSlogan {
      text-align: center;
      color: #fff;
      width: 100%;
      font-weight: 800;
      margin: 0 0 .5em 0;
      font-size: 3em; }
    header #slogan #subSlogan {
      text-align: center;
      color: #fff;
      width: 100%;
      font-weight: 400;
      font-size: 1.3em;
      font-style: italic; }

.upload {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 0; }
  .upload #file {
    display: block;
    width: 100%;
    outline: none; }
  .upload #submit {
    background: #AEE239;
    outline: none;
    border: none;
    border: 1px solid #8FBE00;
    color: #fff;
    padding: 1.2em 2.4em;
    font-weight: 700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    width: 100%;
    margin: 1.6em 0; }
  .upload .uploads {
    width: 100%; }
    .upload .uploads h3 {
      font-size: 1.8em;
      text-align: center;
      padding: 2em 0;
      font-weight: 800;
      color: #8FBE00; }
    .upload .uploads div {
      width: 100%; }
      .upload .uploads div a {
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        font-size: 1.4em;
        padding: 1em 1.6em;
        color: #40C0CB;
        border: 1px solid #40C0CB;
        margin-right: .5em;
        margin-bottom: .7em;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -ms-transition: background 0.3s ease;
        transition: background 0.3s ease; }
        .upload .uploads div a:hover {
          background: #40C0CB;
          color: #fff;
          -webkit-transition: background 0.3s ease;
          -moz-transition: background 0.3s ease;
          -ms-transition: background 0.3s ease;
          transition: background 0.3s ease; }
        .upload .uploads div a:before {
          content: "\f15b";
          font-family: FontAwesome;
          display: inline-block;
          padding-right: .6em; }
      .upload .uploads div .failedYurl {
        font-size: 1.6em;
        padding: 1.6em 0;
        font-weight: 700;
        color: #c0392b; }
      .upload .uploads div span {
        display: inline-block;
        font-weight: 600;
        font-size: 1.4em;
        padding: 1em 1.6em;
        color: #c0392b;
        border: 1px solid #c0392b;
        margin-right: .5em;
        margin-bottom: .7em;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -ms-transition: background 0.3s ease;
        transition: background 0.3s ease; }
        .upload .uploads div span:hover {
          background: #c0392b;
          color: #fff;
          -webkit-transition: background 0.3s ease;
          -moz-transition: background 0.3s ease;
          -ms-transition: background 0.3s ease;
          transition: background 0.3s ease; }
        .upload .uploads div span:before {
          content: "\f1f8";
          font-family: FontAwesome;
          display: inline-block;
          padding-right: .6em; }

#verbiage .container {
  max-width: 800px;
  padding: 8em 2em; }
  #verbiage .container p {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 2.4;
    color: #7f8c8d;
    text-align: center; }
    #verbiage .container p a {
      text-decoration: none;
      border-bottom: 1px solid #AE9361;
      color: #AE9361; }
    #verbiage .container p:visited {
      color: #c0392b; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2em; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.2; }
  100% {
    -webkit-transform: scale(1.1, 1.2);
    opacity: 0.5; } }
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.2; }
  100% {
    transform: scale(1.1, 1.2);
    opacity: 0.5; } }
.bar {
  max-width: 100%;
  background: #f9f2e7;
  padding: 8px;
  margin-bottom: 1.2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.bar-fill {
  display: block;
  background: #AE9361;
  width: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: .5em 0;
  -webkit-transition: width 0.8s ease;
  -moz-transition: width 0.8s ease;
  -ms-transition: width 0.8s ease;
  transition: width 0.8s ease; }

.bar-fill-text {
  font-weight: 700;
  color: #fff;
  padding: 3px;
  margin-left: 1em; }

.uploads > a, .uploads span {
  display: block; }

#file::-webkit-file-upload-button {
  background: transparent;
  outline: none;
  border: none;
  border: 1px solid #8FBE00;
  color: #8FBE00;
  padding: 1.2em 2em;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px; }

#work {
  overflow: hidden;
  width: 100%;
  margin-bottom: 2.5em; }
  #work h3 {
    color: #fff;
    font-size: 2.8em;
    font-weight: 700;
    background: #AE9361;
    padding: 1em 0 1em 3em;
    border-bottom: 5px solid #91794b;
    margin-bottom: .5em; }
  #work div ul li {
    min-height: 300px;
    max-height: 300px;
    width: 32.333%;
    float: left;
    margin: 0 .5%; }
    #work div ul li:hover {
      -webkit-animation-name: thumb;
      -webkit-animation-duration: 200ms;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-iteration-count: 2;
      -webkit-animation-timing-function: linear; }
    #work div ul li:active {
      -webkit-animation-name: spaceboots;
      -webkit-animation-duration: 0.8s;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear; }
    #work div ul li a {
      min-height: 300px;
      overflow: hidden;
      text-decoration: none;
      display: block; }
      #work div ul li a div {
        padding: .4em 1.3em;
        color: #7f8c8d; }
        #work div ul li a div h4 {
          font-size: 1.5em;
          font-weight: 600;
          padding: .5em 0; }
          #work div ul li a div h4 i {
            margin-right: .5em; }
        #work div ul li a div p {
          font-size: 1.4em;
          font-weight: 400;
          padding: .4em 0; }
          #work div ul li a div p span {
            margin-right: .5em;
            font-weight: 700; }
          #work div ul li a div p .coloredsquare {
            width: 14px;
            height: 14px;
            background: #AE9361;
            display: inline-block; }
      #work div ul li a img {
        min-height: 212px;
        width: 100%; }

@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.95); }
  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }
#contact-form {
  clear: both; }
  #contact-form h3 {
    color: #fff;
    font-size: 2.8em;
    font-weight: 700;
    background: #AE9361;
    padding: 1em 0 1em 3em;
    border-bottom: 5px solid #91794b; }
  #contact-form #errors {
    width: 100%;
    background: #c0392b;
    margin-bottom: .5em;
    color: #fff;
    display: none; }
    #contact-form #errors .container p {
      color: #fff;
      text-transform: capitalize; }
  #contact-form #succuess-errors {
    width: 100%;
    background: #AEE239;
    margin-bottom: .5em;
    color: #fff;
    display: none; }
    #contact-form #succuess-errors .container p {
      color: #fff;
      text-transform: capitalize; }
  #contact-form .container p {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 2.4;
    color: #7f8c8d;
    text-align: center;
    padding: 2em 0; }
  #contact-form .container form {
    width: 100%; }
    #contact-form .container form div {
      width: 48.5%;
      float: left;
      position: relative;
      margin: 1em .5em;
      overflow: hidden; }
      #contact-form .container form div span i {
        position: absolute;
        top: 16px;
        left: 11px;
        font-size: 18px;
        color: #7f8c8d; }
      #contact-form .container form div input[type="text"], #contact-form .container form div input[type="email"] {
        text-indent: 23px;
        width: 93.9%;
        padding: 1em;
        font-size: 1.4em;
        border: 1px solid #7f8c8d;
        color: #7f8c8d;
        outline: none;
        -webkit-transition: outline 0.5s ease;
        -moz-transition: outline 0.5s ease;
        -ms-transition: outline 0.5s ease;
        transition: outline 0.5s ease; }
        #contact-form .container form div input[type="text"]:focus, #contact-form .container form div input[type="email"]:focus {
          outline: 2px solid #AE9361;
          -webkit-transition: outline 0.5s ease;
          -moz-transition: outline 0.5s ease;
          -ms-transition: outline 0.5s ease;
          transition: outline 0.5s ease; }
    #contact-form .container form input[type="submit"] {
      width: 98%;
      padding: 1.5em 0;
      text-align: center;
      display: block;
      margin: 1em .7em;
      background: #705d39;
      outline: none;
      border: none;
      color: #fff;
      font-size: 1.3em;
      font-weight: 700;
      cursor: pointer; }
    #contact-form .container form textarea {
      width: 95%;
      margin: 1em .5em;
      padding: 1em;
      font-size: 1.4em;
      height: 200px;
      border: 1px solid #7f8c8d;
      font-family: 'Open Sans', sans-serif;
      color: #7f8c8d;
      -webkit-transition: outline 0.5s ease;
      -moz-transition: outline 0.5s ease;
      -ms-transition: outline 0.5s ease;
      transition: outline 0.5s ease;
      resize: vertical;
      outline: none; }
      #contact-form .container form textarea:focus {
        outline: 2px solid #AE9361;
        -webkit-transition: outline 0.5s ease;
        -moz-transition: outline 0.5s ease;
        -ms-transition: outline 0.5s ease;
        transition: outline 0.5s ease; }

#friends {
  background: #fff;
  width: 100%;
  clear: both; }
  #friends h4 {
    color: #F8F6F9;
    font-size: 2.8em;
    font-weight: 700;
    background: #7f8c8d;
    padding: 1em 0 1em 3em;
    margin-bottom: .5em; }
    #friends h4 span {
      display: inline-block;
      margin-right: .5em; }
  #friends .container {
    padding: 3em 2em;
    max-width: 800px; }
    #friends .container p {
      color: #7f8c8d;
      font-size: 1.4em;
      font-weight: 400;
      line-height: 2.4;
      text-align: center;
      margin-bottom: 3em; }
    #friends .container a {
      color: #AE9361;
      text-decoration: none;
      border-bottom: 1px solid #AE9361; }
    #friends .container img {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 1em;
      max-width: 100%; }

#steps {
  overflow: hidden; }
  #steps .container {
    max-width: 100%;
    overflow: hidden;
    padding: 0; }
    #steps .container .moresteps {
      max-height: 300px;
      min-height: 300px;
      float: left;
      width: 28%;
      padding: 2.65%;
      color: #fff; }
      #steps .container .moresteps i {
        font-size: 5em;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: .3em 0; }
      #steps .container .moresteps p {
        line-height: 2.4;
        font-size: 1.3em;
        margin-top: 1.3em; }
      #steps .container .moresteps h3 {
        font-size: 1.8em;
        font-weight: 600;
        padding: 1em 0;
        border-bottom: 1px solid #fff; }
    #steps .container .color-1 {
      background: #bfaa83; }
    #steps .container .color-2 {
      background: #AE9361; }
    #steps .container .color-3 {
      background: #91794b; }

#nfl {
  width: 100%; }
  #nfl section {
    max-width: 1200px;
    margin: 0 auto; }
    #nfl section div {
      width: 33.333%;
      float: left; }
    #nfl section h3 {
      font-size: 1.4em;
      text-align: center;
      font-weight: bold;
      padding: 1.3em 0;
      border-top: 1px solid #7f8c8d;
      color: #7f8c8d; }

@media screen and (max-width: 825px) {
  header #nav #mobile {
    display: block; }
  header #nav section {
    z-index: 1;
    position: fixed;
    width: 200px;
    height: 100%;
    right: 0;
    top: 0;
    background: #7f8c8d;
    float: none;
    margin: 0;
    display: none; }
    header #nav section ul li {
      display: block;
      float: none;
      background: #7f8c8d;
      text-align: center; }

  #steps .container .moresteps {
    float: none;
    width: 100%; }

  #work div ul li {
    float: none;
    width: 100%;
    min-height: 120px; }
    #work div ul li a {
      min-height: 120px; }
      #work div ul li a img {
        max-width: 100%;
        float: left;
        min-height: 120px; }
      #work div ul li a div {
        float: left;
        width: 45%; }

  #contact-form .container form div {
    float: none;
    width: 100%;
    margin: 1em 0; }
    #contact-form .container form div input[type="text"], #contact-form .container form div input[type="email"] {
      width: 90.9%; }
  #contact-form .container form input[type="submit"] {
    margin: 1em 0;
    width: 100%; }
  #contact-form .container form textarea {
    margin: 0;
    width: 91%; } }
@media screen and (max-width: 1060px) {
  #work div ul li {
    float: none;
    width: 100%;
    min-height: 120px; }
    #work div ul li a {
      min-height: 120px; }
      #work div ul li a img {
        max-width: 100%;
        float: left;
        min-height: 120px; }
      #work div ul li a div {
        float: left;
        width: 45%; } }

/*# sourceMappingURL=style.css.map */
